<div class="card">
    <div class="card-body">
        <h1>Descargar Programa</h1>
        <h3>Numero de Orden: {{orderId}}</h3>
        <a href="/program.exe" download="" class="btn btn-dark">
        Descargar</a>
    </div>
    <div class="card-footer">
        <a href="/" class="btn btn-primary">Volver</a>
    </div>
</div>